main {
  width: 80%;
  text-align: center;
  margin: 0px auto;
}

.left {
  font-family: AvenirBook;
  display: inline-block;
  float: left;
  width: 33%;
  position: relative;
}

.right {
  font-family: AvenirBook;
  display: inline-block;
  float: left;
  width: 33%;
  position: relative;
}

.topic img {
  width: 98%;
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.topic img:hover {
  width: 98%;
  opacity: 1.0;
  filter: alpha(opacity=1.0);
}

.description {
  display: none;
  background-color: rgba(255,255,255,1);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 100%;
  right:-100%;
  top:0px;
  z-index: 1;
}

.description p {
  font-size: 20px;
  color: black;
  width: 98%;
}

.left:hover .description {
  display: inline-block;
}

.right:hover .description {
  display: inline-block;
  left: -100%;
  right:100%;
}

h1 {
  font-family: SignPainterHouseScript;
  font-size: 30px;
  text-align: center;
}

h3 {
  font-family: SignPainterHouseScript;
  font-size: 30px;
  text-align: center;
  margin-bottom: 5px;
}

p {
  font-size: 14px;
}

footer {
  clear: both;
}