img {
  max-width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

article {
  padding: 20px;
  width:70%;
  margin: 0 auto;
  display: block;
  font-family: AvenirBook;
  text-align: left;
}

article h1 {
  font-family: SignPainterHouseScript;
  font-size: 60px;
  text-align: center;
}

article h2 {
  font-size: 14px;
  font-weight: lighter;
  text-align: center;
}

article h3 {
  text-align: center;
}

pre {
    white-space: pre-wrap;
}