@font-face {
  font-family: AvenirBook;
  src: url("http://torihuang.github.io/blog/fonts/AvenirLTStd-Book.otf");
}

@font-face {
  font-family: SignPainterHouseScript;
  src: url("http://torihuang.github.io/blog/fonts/SignPainter-HouseScript.ttf");
}

body {
  font-family: AvenirBook;
}

h1 {
  font-family: SignPainterHouseScript;
  font-size: 30px;
  text-align: center;
}

p {
  font-size: 14px;
}

a {
  color: #F28C01;
  text-decoration: none;
}

a:hover {
  color: #3ACCA9;
}

nav {
  margin: 10 10 10 10;
  padding-bottom: 10px;
  width: 100%;
  background: white;
  display: block;
  border-bottom: 1px solid #F28C01;
}

#logo {
  display:inline-block;
  vertical-align: middle;
  text-align: left;
}

nav ul {
  list-style-type: none;
  display:inline-block;
  vertical-align: middle;
  width: 50%;
  padding-right: 100px;
  float: right;
  text-align: right;
  line-height: 400%;
}

nav ul li {
  display: inline;
  width: 25%;
  float: right;
}

nav ul li a {
  color: #F28C01;
  text-decoration: none;
}

#welcome-wrapper {
  display:block;
  text-align: center;
}

#blog-content {
  display:block;
  text-align: center;
}

table {
  max-width: 500px;
  margin: 20px auto;
  border-spacing: 20px;
}

td {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    width: 500px;
}

#my-image {
  display:inline-block;
  max-width: 300px;
  padding: 20px;
  vertical-align: middle;
}

#welcome {
  display: inline-block;
  max-width: 50%;
  padding: 20px;
  vertical-align: middle;
}

#welcome a {
  color: #F28C01;
  text-decoration: none;
}

footer {
  position: relative;
  border-top: 1px solid #F28C01;
  display: block;
  width: 100%;
}

#copyright {
  display: inline-block;
  padding-left: 30px;
  width: 10%;
  float: left;
  text-align: left;
}

footer ul {
  list-style-type: none;
  display:inline-block;
  vertical-align: middle;
  width: 62.5%;
  padding-right: 100px;
  float: right;
  text-align: right;
}

footer ul li {
  display: inline;
  width: 20%;
  float: right;
}

footer ul li a {
  color: #F28C01;
  text-decoration: none;
}