@font-face {
  font-family: AvenirBook;
  src: url("http://torihuang.github.io/blog/fonts/AvenirLTStd-Book.otf");
}

@font-face {
  font-family: SignPainterHouseScript;
  src: url("http://torihuang.github.io/blog/fonts/SignPainter-HouseScript.ttf");
}

body {
  font-family: AvenirBook;
}

h1 {
  font-family: SignPainterHouseScript;
  font-size: 30px;
  text-align: center;
}

p {
  font-size: 14px;
}

a {
  color: #F28C01;
  text-decoration: none;
}

a:hover {
  color: #3ACCA9;
}

header {
  margin: 10 10 10 10;
  padding-bottom: 10px;
  width: 100%;
  background: white;
  display: block;
  border-bottom: 1px solid #F28C01;
}

nav {
  display: inline-block;
  width: 70%;
  float: right;
  vertical-align: middle;
}

#logo {
  display:inline-block;
  vertical-align: middle;
  text-align: center;
  color: black;
  width: 300px;
  margin: 0px;
  padding: 0px 0px 0px 0px;
}

#name {
  font-family: SignPainterHouseScript;
  font-size: 60px;
  display: block;
  margin: 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 5px;
}

#developer {
  font-size: 25px;
  display: inline-block;
  margin: 0px;
  padding: 0px 0px 0px 0px;
}

#and {
  font-family: SignPainterHouseScript;
  text-align: center;
  font-size: 40px;
  display: inline-block;
  margin: 0px;
  padding: 0px 0px 0px 0px;
  margin-left: 10px;
  margin-right: 10px;
}

#engineer {
  font-size: 25px;
  display: inline-block;
  margin: 0px;
  padding: 0px 0px 0px 0px;
}

nav ul {
  list-style-type: none;
  display:inline-block;
  vertical-align: middle;
  width: 50%;
  padding-right: 100px;
  float: right;
  text-align: right;
  line-height: 400%;
}

nav ul li {
  display: inline;
  width: 25%;
  float: right;
}

nav ul li a {
  color: #F28C01;
  text-decoration: none;
}

#welcome-wrapper {
  display:block;
  text-align: center;
}

#blog-content {
  display:block;
  text-align: center;
}

table {
  max-width: 500px;
  margin: 20px auto;
  border-spacing: 20px;
}

td {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    width: 500px;
}

#my-image {
  display:inline-block;
  max-width: 300px;
  padding: 20px;
  vertical-align: middle;
}

#welcome {
  display: inline-block;
  max-width: 50%;
  padding: 20px;
  vertical-align: middle;
}

#welcome a {
  color: #F28C01;
  text-decoration: none;
}

footer {
  position: relative;
  border-top: 1px solid #F28C01;
  display: block;
  padding-bottom: 70px;
  width: 100%;
}

#copyright {
  display: inline-block;
  vertical-align: middle;
  padding-left: 60px;
  float: left;
  text-align: left;
}

footer ul {
  list-style-type: none;
  display:inline-block;
  vertical-align: middle;
  padding-right: 100px;
  float: right;
  text-align: right;
}

footer ul li {
  display: inline-block;
  float: right;
}

footer ul li a {
  color: #F28C01;
  text-decoration: none;
}

.contact-icon {
  width: 50px;
  border-radius: 25px;
}

.contact-icon:hover {
  background-color: #3ACCA9;
}