body {
  text-align: center;
  background-color: #C3E8FF;
}

h1 {
  font-size: 60px;
  padding-bottom: 20px;
  margin-bottom: 0px;
}

p {
  font-size: 20px;
  margin: 0px 100px 0px 100px;
  padding: 0px 0px 0px 0px;
}

table {
  max-width: 80%;
  margin: 20px auto;
  border: 1px solid black;
  border-spacing: 0px;
}

td {
  border: 1px solid black;
  text-align: center;
  width: 500px;
  background-color: #1D52CB;
    padding: 0px;
    border-radius: 1px;
}

tr {
  width: 50px;
  height: 50px;
}

footer {
  text-align: center;
  border-top: 0px solid #F28C01;
  display: block;
  padding: 0px 0px 0px 0px;
  width: 100%;
}

footer ul {
  list-style-type: none;
  display:inline-block;
  vertical-align: middle;
  margin: 0px auto;
  padding: 0px 0px 0px 0px;
  float: none;
}

footer ul li {
  display: inline-block;
  margin: 0px auto;
  padding: 0px 0px 0px 0px;
  float: none;
}

.contact-icon {
  width: 80px;
  border-radius: 40px;
}