main {
  width: 100%;
  text-align: center;
  display: block;
}

.specific-praise {
  display: block;
  width: 60%;
  text-align: center;
  margin: 20px auto;
  padding: 20px 20px 20px 20px;
  font-family: AvenirBook;
  background-color: #EDEDED;
}

.specific-praise p:nth-child(2) {
  font-family: SignPainterHouseScript;
  font-size: 20px;
  text-align: right;
}