main {
  width: 100%;
  text-align: center;
}

.specific-project {
  font-family: AvenirBook;
  display: inline-block;
  /*float: left;*/
  vertical-align: top;
  width: 33%;
}

.specific-project img {
  max-width: 70%;
}

h1 {
  font-family: SignPainterHouseScript;
  font-size: 50px;
  text-align: center;
  padding-bottom: 0px;
  margin-bottom: 20px;
}

h3 {
  font-family: SignPainterHouseScript;
  font-size: 30px;
  text-align: center;
  margin-bottom: 5px;
}

p {
  font-size: 14px;
  margin: 10px auto;
  max-width: 80%;
  color: black;
}

p:hover {
  text-decoration: none;
}

footer {
  clear: both;
}